indafoto_archive/
indafoto_crawler.log
indafoto.db
.DS_Store
.cursorrules
indafoto_explorer.log
archive_queue.json
verify_downloads.log
archive_queue_archive.ph.json
archive_queue_archive.org.json
archive_submitter.log
worker_optimization.log
worker_optimization.json
__pycache__/
sync.sh
redownload_missing.log
indafoto.db-wal
indafoto.db-shm
._indafoto.db-shm

._*
reprocess_metadata.log
author_details_scraper.log
fix_stale_files.log
author_crawler.log
license_counts.txt
license_crawler.log
